.show {
  animation: appear 0.2s ease-out forwards;
}

.hide {
  animation: disappear 0.2s ease-out forwards;
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.98;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    scale: 1;
  }
  to {
    opacity: 0;
    scale: 0.98;
    transform: translateY(10px);
  }
}
